.flip {
    transition: 0.6s;
	transform-style: preserve-3d;
    background-color: #3498db !important;
    -webkit-transform: translate(-50%, -50%) rotateY(360deg);
    -moz-transform: translate(-50%, -50%) rotateY(360deg);
    -ms-transform: translate(-50%, -50%) rotateY(360deg);
    -o-transform: translate(-50%, -50%) rotateY(360deg);
    transform: translate(-50%, -50%) rotateY(360deg);
}

.centered {
    position: absolute !important;
    left: 50% !important;
    right: 50% !important;
    width    : 300px !important;
    height   : 300px !important;

}
